@import 'colors';

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bodyColor;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

.header{
    background-color: $headerColor;
    color: $colorWordOne;
}

.aside {
    background-color: $asideColor;
    color: $colorWordOne;

}

.footer {
    color: $colorWordOne;
    background-color: $footerColor;
}


.title {
    @include reset();
    font-size: 50px;
}

.speakText {
    font-size: 2rem;
    padding-left: 5px;
}

.speakButton{
    font-size: 1.5rem;
}

.interpret , .response {
    @include reset();
    font-size: 30px;
    margin-top: 40px;
}


.icon{
    color: #eee;
    font-size: 2rem;
    margin: 4px;
}